results/.~lock.user_vs_system_time.xlsx#

output_large.txt
output_small.txt

basicmath_large
basicmath_small
bitcnts
qsort_large
qsort_small
susan

output_large.corners.pgm
output_large.edges.pgm
output_large.smoothing.pgm

consumer/jpeg/jpeg-6a/cjpeg
consumer/jpeg/jpeg-6a/djpeg
consumer/jpeg/jpeg-6a/jpegtran
consumer/jpeg/jpeg-6a/libjpeg.a
consumer/jpeg/jpeg-6a/rdjpgcom
consumer/jpeg/jpeg-6a/wrjpgcom
consumer/jpeg/output_large_encode.jpeg
consumer/jpeg/output_small_encode.jpeg
consumer/jpeg/output_large_decode.ppm
consumer/jpeg/output_small_decode.ppm
consumer/jpeg/jpeg-6a/*.o

consumer/lame/lame3.70/*.o
consumer/lame/lame3.70/*.d
consumer/lame/lame3.70/lame
consumer/lame/lame3.70/libmp3lame.a
consumer/lame/lame3.70/mpglib/*.o
consumer/lame/lame3.70/mpglib/*.d
consumer/lame/output_large.mp3
consumer/lame/output_small.mp3

consumer/mad/mad-0.14.2b/audio.o
consumer/mad/mad-0.14.2b/audio_aiff.o
consumer/mad/mad-0.14.2b/audio_cdda.o
consumer/mad/mad-0.14.2b/audio_null.o
consumer/mad/mad-0.14.2b/audio_oss.o
consumer/mad/mad-0.14.2b/audio_raw.o
consumer/mad/mad-0.14.2b/audio_snd.o
consumer/mad/mad-0.14.2b/audio_wave.o
consumer/mad/mad-0.14.2b/equalizer.o
consumer/mad/mad-0.14.2b/filter.o
consumer/mad/mad-0.14.2b/getopt.o
consumer/mad/mad-0.14.2b/getopt1.o
consumer/mad/mad-0.14.2b/libid3tag/.libs/
consumer/mad/mad-0.14.2b/libid3tag/compat.lo
consumer/mad/mad-0.14.2b/libid3tag/compat.o
consumer/mad/mad-0.14.2b/libid3tag/crc.lo
consumer/mad/mad-0.14.2b/libid3tag/crc.o
consumer/mad/mad-0.14.2b/libid3tag/field.lo
consumer/mad/mad-0.14.2b/libid3tag/field.o
consumer/mad/mad-0.14.2b/libid3tag/file.lo
consumer/mad/mad-0.14.2b/libid3tag/file.o
consumer/mad/mad-0.14.2b/libid3tag/frame.lo
consumer/mad/mad-0.14.2b/libid3tag/frame.o
consumer/mad/mad-0.14.2b/libid3tag/frametype.lo
consumer/mad/mad-0.14.2b/libid3tag/frametype.o
consumer/mad/mad-0.14.2b/libid3tag/genre.lo
consumer/mad/mad-0.14.2b/libid3tag/genre.o
consumer/mad/mad-0.14.2b/libid3tag/latin1.lo
consumer/mad/mad-0.14.2b/libid3tag/latin1.o
consumer/mad/mad-0.14.2b/libid3tag/libid3tag.la
consumer/mad/mad-0.14.2b/libid3tag/parse.lo
consumer/mad/mad-0.14.2b/libid3tag/parse.o
consumer/mad/mad-0.14.2b/libid3tag/render.lo
consumer/mad/mad-0.14.2b/libid3tag/render.o
consumer/mad/mad-0.14.2b/libid3tag/tag.lo
consumer/mad/mad-0.14.2b/libid3tag/tag.o
consumer/mad/mad-0.14.2b/libid3tag/ucs4.lo
consumer/mad/mad-0.14.2b/libid3tag/ucs4.o
consumer/mad/mad-0.14.2b/libid3tag/utf16.lo
consumer/mad/mad-0.14.2b/libid3tag/utf16.o
consumer/mad/mad-0.14.2b/libid3tag/utf8.lo
consumer/mad/mad-0.14.2b/libid3tag/utf8.o
consumer/mad/mad-0.14.2b/libid3tag/util.lo
consumer/mad/mad-0.14.2b/libid3tag/util.o
consumer/mad/mad-0.14.2b/libid3tag/version.lo
consumer/mad/mad-0.14.2b/libid3tag/version.o
consumer/mad/mad-0.14.2b/libmad/.libs/
consumer/mad/mad-0.14.2b/libmad/bit.lo
consumer/mad/mad-0.14.2b/libmad/bit.o
consumer/mad/mad-0.14.2b/libmad/decoder.lo
consumer/mad/mad-0.14.2b/libmad/decoder.o
consumer/mad/mad-0.14.2b/libmad/fixed.lo
consumer/mad/mad-0.14.2b/libmad/fixed.o
consumer/mad/mad-0.14.2b/libmad/frame.lo
consumer/mad/mad-0.14.2b/libmad/frame.o
consumer/mad/mad-0.14.2b/libmad/huffman.lo
consumer/mad/mad-0.14.2b/libmad/huffman.o
consumer/mad/mad-0.14.2b/libmad/layer12.lo
consumer/mad/mad-0.14.2b/libmad/layer12.o
consumer/mad/mad-0.14.2b/libmad/layer3.lo
consumer/mad/mad-0.14.2b/libmad/layer3.o
consumer/mad/mad-0.14.2b/libmad/libmad.la
consumer/mad/mad-0.14.2b/libmad/mad.h
consumer/mad/mad-0.14.2b/libmad/stream.lo
consumer/mad/mad-0.14.2b/libmad/stream.o
consumer/mad/mad-0.14.2b/libmad/synth.lo
consumer/mad/mad-0.14.2b/libmad/synth.o
consumer/mad/mad-0.14.2b/libmad/timer.lo
consumer/mad/mad-0.14.2b/libmad/timer.o
consumer/mad/mad-0.14.2b/libmad/version.lo
consumer/mad/mad-0.14.2b/libmad/version.o
consumer/mad/mad-0.14.2b/madplay
consumer/mad/mad-0.14.2b/madplay.o
consumer/mad/mad-0.14.2b/player.o
consumer/mad/mad-0.14.2b/resample.o
consumer/mad/mad-0.14.2b/version.o
consumer/mad/mad-0.14.2b/xing.o
consumer/mad/mad-0.14.2b/Makefile
consumer/mad/mad-0.14.2b/config.cache
consumer/mad/mad-0.14.2b/config.h
consumer/mad/mad-0.14.2b/config.log
consumer/mad/mad-0.14.2b/config.status
consumer/mad/mad-0.14.2b/intl/Makefile
consumer/mad/mad-0.14.2b/intl/po2tbl.sed
consumer/mad/mad-0.14.2b/libid3tag/Makefile
consumer/mad/mad-0.14.2b/libid3tag/config.h
consumer/mad/mad-0.14.2b/libid3tag/config.log
consumer/mad/mad-0.14.2b/libid3tag/config.status
consumer/mad/mad-0.14.2b/libid3tag/libtool
consumer/mad/mad-0.14.2b/libid3tag/stamp-h
consumer/mad/mad-0.14.2b/libmad/Makefile
consumer/mad/mad-0.14.2b/libmad/config.h
consumer/mad/mad-0.14.2b/libmad/config.log
consumer/mad/mad-0.14.2b/libmad/config.status
consumer/mad/mad-0.14.2b/libmad/libtool
consumer/mad/mad-0.14.2b/libmad/stamp-h
consumer/mad/mad-0.14.2b/libtool
consumer/mad/mad-0.14.2b/po/Makefile
consumer/mad/mad-0.14.2b/po/Makefile.in
consumer/mad/mad-0.14.2b/po/POTFILES
consumer/mad/mad-0.14.2b/stamp-h
consumer/mad/output_large.wav
consumer/mad/output_small.wav

consumer/typeset/large.lout.ld
consumer/typeset/lout-3.24/lout
consumer/typeset/lout-3.24/z01.o
consumer/typeset/lout-3.24/z02.o
consumer/typeset/lout-3.24/z03.o
consumer/typeset/lout-3.24/z04.o
consumer/typeset/lout-3.24/z05.o
consumer/typeset/lout-3.24/z06.o
consumer/typeset/lout-3.24/z07.o
consumer/typeset/lout-3.24/z08.o
consumer/typeset/lout-3.24/z09.o
consumer/typeset/lout-3.24/z10.o
consumer/typeset/lout-3.24/z11.o
consumer/typeset/lout-3.24/z12.o
consumer/typeset/lout-3.24/z13.o
consumer/typeset/lout-3.24/z14.o
consumer/typeset/lout-3.24/z15.o
consumer/typeset/lout-3.24/z16.o
consumer/typeset/lout-3.24/z17.o
consumer/typeset/lout-3.24/z18.o
consumer/typeset/lout-3.24/z19.o
consumer/typeset/lout-3.24/z20.o
consumer/typeset/lout-3.24/z21.o
consumer/typeset/lout-3.24/z22.o
consumer/typeset/lout-3.24/z23.o
consumer/typeset/lout-3.24/z24.o
consumer/typeset/lout-3.24/z25.o
consumer/typeset/lout-3.24/z26.o
consumer/typeset/lout-3.24/z27.o
consumer/typeset/lout-3.24/z28.o
consumer/typeset/lout-3.24/z29.o
consumer/typeset/lout-3.24/z30.o
consumer/typeset/lout-3.24/z31.o
consumer/typeset/lout-3.24/z32.o
consumer/typeset/lout-3.24/z33.o
consumer/typeset/lout-3.24/z34.o
consumer/typeset/lout-3.24/z35.o
consumer/typeset/lout-3.24/z36.o
consumer/typeset/lout-3.24/z37.o
consumer/typeset/lout-3.24/z38.o
consumer/typeset/lout-3.24/z39.o
consumer/typeset/lout-3.24/z40.o
consumer/typeset/lout-3.24/z41.o
consumer/typeset/lout-3.24/z42.o
consumer/typeset/lout-3.24/z43.o
consumer/typeset/lout-3.24/z44.o
consumer/typeset/lout-3.24/z45.o
consumer/typeset/lout-3.24/z46.o
consumer/typeset/lout-3.24/z47.o
consumer/typeset/lout-3.24/z48.o
consumer/typeset/lout-3.24/z49.o
consumer/typeset/lout-3.24/z50.o
consumer/typeset/lout-3.24/z51.o
consumer/typeset/lout.li
consumer/typeset/output_large.ps
consumer/typeset/output_small.ps
consumer/typeset/small.lout.ld

network/dijkstra/dijkstra_large
network/dijkstra/dijkstra_small
network/dijkstra/output.dat
network/dijkstra/output_large.dat
network/dijkstra/output_small.dat

network/patricia/patricia

office/rsynth/ASCII.o
office/rsynth/Makefile
office/rsynth/Revision.o
office/rsynth/aufile.o
office/rsynth/config.cache
office/rsynth/config.h
office/rsynth/config.log
office/rsynth/config.status
office/rsynth/darray.o
office/rsynth/def_pars.o
office/rsynth/dict.o
office/rsynth/dlookup
office/rsynth/dlookup.o
office/rsynth/elements.o
office/rsynth/english.o
office/rsynth/getarg.o
office/rsynth/holmes.o
office/rsynth/hplay.c
office/rsynth/hplay.o
office/rsynth/l2u.o
office/rsynth/mkdictdb
office/rsynth/mkdictdb.o
office/rsynth/nsynth.o
office/rsynth/phones.o
office/rsynth/phtoelm.o
office/rsynth/say
office/rsynth/say.o
office/rsynth/saynum.o
office/rsynth/text.o
office/rsynth/trie.o

office/sphinx/Makefile
office/sphinx/config.cache
office/sphinx/config.h
office/sphinx/config.log
office/sphinx/config.status
office/sphinx/doc/Makefile
office/sphinx/include/Makefile
office/sphinx/include/ad.h
office/sphinx/libtool
office/sphinx/model/Makefile
office/sphinx/model/hmm/6k/Makefile
office/sphinx/model/hmm/Makefile
office/sphinx/model/lm/Makefile
office/sphinx/model/lm/turtle/Makefile
office/sphinx/scripts/Makefile
office/sphinx/scripts/allphone-test.csh
office/sphinx/scripts/batch.csh
office/sphinx/scripts/sphinx2-align
office/sphinx/scripts/sphinx2-demo
office/sphinx/scripts/sphinx2-phone
office/sphinx/scripts/sphinx2-simple
office/sphinx/scripts/sphinx2-test
office/sphinx/scripts/stress2sphinx
office/sphinx/src/Makefile
office/sphinx/src/examples/Makefile
office/sphinx/src/libsphinx2/Makefile
office/sphinx/src/libsphinx2/include/Makefile
office/sphinx/src/libsphinx2ad/Makefile
office/sphinx/src/libsphinx2fe/Makefile
office/sphinx/stamp-h

office/stringsearch/search_large
office/stringsearch/search_small

security/blowfish/bf
security/blowfish/bf.o
security/blowfish/bf_cbc.o
security/blowfish/bf_cfb64.o
security/blowfish/bf_ecb.o
security/blowfish/bf_enc.o
security/blowfish/bf_ofb64.o
security/blowfish/bf_skey.o
security/blowfish/bfspeed
security/blowfish/bfspeed.o
security/blowfish/bftest
security/blowfish/bftest.o
security/blowfish/libblowfish.a
security/blowfish/output_large.asc
security/blowfish/output_large.enc

security/pgp/tests/testin.txt.asc
security/pgp/tests/testout.txt
security/pgp/src/_80386.o
security/pgp/src/_zmatch.o
security/pgp/src/_80386.s
security/pgp/src/armor.o
security/pgp/src/charset.o
security/pgp/src/config.o
security/pgp/src/crypto.o
security/pgp/src/fileio.o
security/pgp/src/genprime.o
security/pgp/src/getopt.o
security/pgp/src/idea.o
security/pgp/src/keyadd.o
security/pgp/src/keymaint.o
security/pgp/src/keymgmt.o
security/pgp/src/language.o
security/pgp/src/md5.o
security/pgp/src/mdfile.o
security/pgp/src/more.o
security/pgp/src/mpiio.o
security/pgp/src/mpilib.o
security/pgp/src/noise.o
security/pgp/src/passwd.o
security/pgp/src/pgp
security/pgp/src/pgp.o
security/pgp/src/random.o
security/pgp/src/randpool.o
security/pgp/src/rsagen.o
security/pgp/src/rsaglue1.o
security/pgp/src/system.o
security/pgp/src/zbits.o
security/pgp/src/zdeflate.o
security/pgp/src/zfile_io.o
security/pgp/src/zglobals.o
security/pgp/src/zinflate.o
security/pgp/src/zip.o
security/pgp/src/zipup.o
security/pgp/src/ztrees.o
security/pgp/src/zunzip.o

security/sha/sha
security/sha/sha.o
security/sha/sha_driver.o

telecomm/CRC32/crc

telecomm/FFT/fft
telecomm/FFT/fftmisc.o
telecomm/FFT/fourierf.o
telecomm/FFT/main.o
telecomm/FFT/output_large.inv.txt
telecomm/FFT/output_small.inv.txt

telecomm/adpcm/bin/
telecomm/adpcm/output_large.adpcm
telecomm/adpcm/output_large.pcm
telecomm/adpcm/output_small.adpcm
telecomm/adpcm/output_small.pcm
telecomm/adpcm/src/adpcm.o
telecomm/adpcm/src/rawcaudio
telecomm/adpcm/src/rawcaudio.o
telecomm/adpcm/src/rawdaudio
telecomm/adpcm/src/rawdaudio.o
telecomm/adpcm/src/timing
telecomm/adpcm/src/timing.o

telecomm/gsm/bin/
telecomm/gsm/lib/
telecomm/gsm/output_large.decode.run
telecomm/gsm/output_large.encode.gsm
telecomm/gsm/output_small.decode.run
telecomm/gsm/output_small.encode.gsm
telecomm/gsm/src/add.o
telecomm/gsm/src/code.o
telecomm/gsm/src/debug.o
telecomm/gsm/src/decode.o
telecomm/gsm/src/gsm_create.o
telecomm/gsm/src/gsm_decode.o
telecomm/gsm/src/gsm_destroy.o
telecomm/gsm/src/gsm_encode.o
telecomm/gsm/src/gsm_explode.o
telecomm/gsm/src/gsm_implode.o
telecomm/gsm/src/gsm_option.o
telecomm/gsm/src/gsm_print.o
telecomm/gsm/src/long_term.o
telecomm/gsm/src/lpc.o
telecomm/gsm/src/preprocess.o
telecomm/gsm/src/rpe.o
telecomm/gsm/src/short_term.o
telecomm/gsm/src/table.o
telecomm/gsm/src/toast.o
telecomm/gsm/src/toast_alaw.o
telecomm/gsm/src/toast_audio.o
telecomm/gsm/src/toast_lin.o
telecomm/gsm/src/toast_ulaw.o
