output_large.txt
output_small.txt

basicmath_large
basicmath_small
bitcnts
qsort_large
qsort_small
susan

output_large.corners.pgm
output_large.edges.pgm
output_large.smoothing.pgm

consumer/jpeg/jpeg-6a/cjpeg
consumer/jpeg/jpeg-6a/djpeg
consumer/jpeg/jpeg-6a/jpegtran
consumer/jpeg/jpeg-6a/libjpeg.a
consumer/jpeg/jpeg-6a/rdjpgcom
consumer/jpeg/jpeg-6a/wrjpgcom
consumer/jpeg/output_large_encode.jpeg
consumer/jpeg/output_small_encode.jpeg
consumer/jpeg/output_large_decode.ppm
consumer/jpeg/output_small_decode.ppm
consumer/jpeg/jpeg-6a/*.o

consumer/lame/lame3.70/*.o
consumer/lame/lame3.70/*.d
consumer/lame/lame3.70/lame
consumer/lame/lame3.70/libmp3lame.a
consumer/lame/lame3.70/mpglib/*.o
consumer/lame/lame3.70/mpglib/*.d
consumer/lame/output_large.mp3
consumer/lame/output_small.mp3
