qsort_small_input.txt
qsort_large_input.txt
susan_input.pgm
jpeg_input.ppm
lame_input.wav
typeset_input.lout
typeset_input.lout.ld
dijkstra_input.dat
patricia_input.udp
blowfish_input.asc
sha_input.asc
